.return a {
  text-decoration: none;
  color: white;
}

.return {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background: chocolate;
  display: flex;
  justify-content: center;
  align-items: center;
}

.return:hover {
  cursor: pointer;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.content-wrapper {
  display: flex;
}

.left-side {
  flex: 1 1 30%;
  padding: 20px;
}

.right-side {
  flex-basis: 1 1 70%;
}

.img-wrapper img {
  width: 390px;
  height: 500px;
  border-radius: 10px;
}

.ingredients {
  background: #ddd;
  padding: 20px;
  margin-top: 25px;
  border-radius: 10px;
  height: 420px;
}

.ingredients ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  line-height: 30px;
}

.description {
  height: 460px;
  border: 1px solid black;
  border-radius: 10px;
  padding: 20px;
  margin-top: 20px;
}

.steps {
  border: 1px solid black;
  margin-top: 25px;
  padding: 30px 20px;
  border-radius: 10px;
  line-height: 30px;
  height: 400px;
}

.description ul {
  line-height: 30px;
}

.steps-title {
  margin-top: 10px;
}
